@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  /* ... */
}

@tailwind components;

@layer components {
  .btn-blue {
    @apply bg-accent hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

@tailwind utilities;

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
html {
  scroll-behavior: smooth;
}
hr {
  color: #e6e7e9;
}
.ant-message .ant-message-success {
  @apply flex justify-center items-center;
}
.ant-row, .checkout .ant-btn {
  @apply w-full;
}
.hero-button .ant-btn span {
  @apply mt-1;
}
.ant-list-item {
  @apply gap-4;
}